.block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 62.5%;
	height: 400px;
	margin: 130px auto;
	position: relative;
}
.img{
	width: 50%;
}
.img img{
	width: 100%;
	height: auto;
	filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
}
.text{
	width: 50%;
	text-align: left;
}
.Learn_text{
	margin-top: 30px;
	color: black;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}
.Learn{
	display: block;
}
.Learn_text:hover{
	font-size: 18px;
	transition: 0.5s;
}
.Name{
	font-size: 2.5vw;
	margin-bottom: 10px;
	font-weight: 600;
}
.text_block{
	margin-top: 16.66%;
	margin-left: 15%;
	width: 58.33%;
}

.Line:not(:last-child){
	margin-bottom: 138px;
}

.Lines{
	position: absolute;
	
	left: 42.16666%;
}
@media (max-width: 1445px){
	.text_block{
		margin-top: 10%;
	}
}
@media (max-width: 1025px){
	.block{
		display: block;
		width: 80%;
		height: 600px;
	}
	.img{
		width: 70%;
		margin: 0 auto;
	}	
	.Lines{
		display: none;
	}
	.text{
		width: 80%;
		margin: 0 auto;
	}
	.Name{
		font-size: 40px;
	}
	.text_block{
		height: 400px;
	}
}

@media (max-width: 800px){
	.block{
		max-height: 500px;
	}
}
@media (max-width: 600px){
	.Name{
		font-size: 30px;
	}
	.block{
		max-height: 400px;
	}
}
@media (max-width: 425px){
	.Name{
		font-size: 25px;
	}
}
