.sectionQ{
	margin-bottom: 180px;
}
.body{
	margin-top: 125px;

}
h2{
	font-size: 2.5vw;
	text-transform: uppercase;
}
.Text{
	font-size: 15px;
	height: 135px;
	width: 580px;
	margin: auto;
	display: block;
	text-align: center;
	margin-bottom: 90px;
}
.Line{
	margin-left: 41.1%;
}
.img{
	margin: auto;
	width: 52.08%;
	height: 320px;
	display: flex;
}
@media (max-width: 600px){
		.Text{
			width: 400px;
		}
		.img{
		margin: auto;
		width: 90%;
		margin: 0 auto;
		height: 320px;
		display: flex;
	}
}
@media (max-width: 800px){
	h2{
		font-size: 30px;
	}
}


@media (max-width: 450px){
	.Text{
		width: 300px;
	}
	h2{
		font-size: 20px;
	}
	.text{
		width: 90%;
		margin-left: 5%;
	}
}
