*{
	margin: 0;
	padding: 0;
}

.Header{
	margin-top: 40px;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	color: #a6a6a6;
	font-size: 15px;
	width: 100%;
	z-index: 1;
	transition: 1s;
}


.Big_line{
	margin-top: 9px;
	height: 4px;
	width: 64px;
	background-color: #bea67c;
	margin-left: 28.8%
}
.line{
	height: 1px;
	width: 34px;
	background-color: #bea67c;
	margin-bottom: 9px;
}


.HeaderUl{
	margin-left: 14.85%;
	width: 20.83%;
}

.HeaderUl li{
	display: inline;
}
.HeaderUl li:not(:last-child){
	margin-right: 29.75%;
}


.Header_menu{
	margin-left: 27px;
	display: flex;
}
.Header_menu_text{
	margin-left: 12px;
	color: #a6a6a6;
}
.Header_circle{
	height: 23px;
	width: 23px;
	border: solid 1px #a6a6a6;
	border-radius: 23px;
	margin-left: 18%;
	margin-top:-3px;
}
.Header_arrow{
	margin-left: 2.7%;
	margin-right: 5px;
}

@media (max-width: 1025px ) {
	.HeaderUl{
		width: 30%;
	}
}



@media (max-width: 1025px ) {
	.HeaderUl{
		margin-left: 10%;
	}
	.Big_line{
		margin-left: 15%;
	}
	.Header_circle{
		margin-left: 14%;
	}
}
@media (max-width: 750px ) {
	.Big_line{
		margin-left: 5%;
	}
	.Header_circle{
		margin-left: 20%;
	}
}
@media (max-width: 650px ) {
	.Big_line{
		width: 0;
		opacity: 0;
		display: none;
	}
	.HeaderUl{
		margin-left: 20.85%;
		width: 40%;
	}
	.HeaderUl li:not(:last-child){
		margin-right: 15.75%;
	}
	.Header_circle , .Header_arrow{
		display: none;
	}		
}
@media (min-width: 1921px ) {
	.HeaderUl{
		font-size: 30px;
	}
	.Header_circle{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: solid 3px #a6a6a6;
		font-size: 20px;
		margin-left: 15%;
		margin-top: 5px;
	}
	.Header_arrow, .Header_menu_text{
		font-size: 30px;
	}
	.line{
		height: 3px;
		width: 70px;
	}
	.line:not(:last-child){
		margin-bottom: 15px;
	}
	.Big_line{
		margin-top: 22px;
	}

}

@media (max-width: 425px) {
	
	.HeaderUl li{
		display: none;
		
	}
	.Big_line{
		display: none;
	}
	
	
}
.Header_menuNEW{
	margin-left: 27px;
	margin-top: 50px;
	z-index: 3;
	display: flex;
}
.HeaderNEW{
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	transition: 1s;
}
.HeaderUlNEW{
	position: absolute;
	height: 400px;
	margin-top: 100px;
	margin-left: 0;
	width: 100%;
	z-index: 3;
}
.HeaderUlNEW li{
	display: block;
	margin-right: 0;
	height: 40px;
	font-size: 30px;
	color: #a6a6a6;
	width: 40%;
	margin-left: 30%;
}
.HeaderUlNEW li:not(:last-child){
	margin-right: 0%;
	margin-bottom: 20px;
}
.HeaderUlNEW li:hover{
	border: 1px solid #a6a6a6;
}
.Big_lineNEW{
	display: none;
}

.Header_arrowNEW{
	display: none;
}
.Header_circleNEW{
	display: none;
}

